.sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}
.login-icon {
    color:#ccc;
    font-size:40px;
}


.input {
    margin-left:23px;
    margin-top: -28px !important;
    border: 0px solid transparent;
   
    -webkit-appearance: none;
    font-size: 14px;
}
.sfdc_button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    color: var(--lwc-colorTextButtonBrand,#FFFFFF);
    cursor: pointer;
    background-color: var(--lwc-colorBackgroundButtonBrand,rgb(13, 0, 72));
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: var(--lwc-fontFamily,Salesforce Sans);
    font-weight: 700;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
 }
.error {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: var(--lwc-ErrorTextColor,rgb(194, 57, 52));
}
.inputContainer {
    margin-bottom: 10px;
    padding: 12px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 2px;
}